.git
.idea
.env.local
.env.*.local
.phpunit.cache
.php-cs-fixer.cache
compose.yaml
compose.override.yaml
docker/mariadb
drivers
node_modules
public/assets
public/bundles
public/uploads
tests
var
vendor
assets/vendor
